@import "../../sass/helper";

.form {
  width: 100%;
  display: flex;
  align-items: center;
}

.folderPath {
  flex-basis: 90%;
  position: relative;
  height: 35px;

  & > input {
    display: inline-block;
    height: calc(100% - 4px);
    width: calc(100% - 50px);
    font-size: 17px;
    border: 1px solid $--accent-color;
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.submitBtn {
  white-space: nowrap;
  padding: 10px 15px;
  height: 100%;
  background-color: $--accent-color;
  border-radius: 7px;
  color: #fff;
  transition: background-color 300ms ease;
  min-width: 107px;

  &:hover {
    background-color: $--hover-color;
  }
}
