@import "../../sass/helper";

.navWrapper {
  background-color: $--nav-bg;
  max-width: 200px;
  width: 100%;
  height: 100vh;
}

.navInner {
  padding: 15px;
}

.navigationList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
